h3, h4, h5 {
    display: inline;
}

.saved-locations {
    display: block;
}

.form-control {
    display: inline;
}

.form-inline {
    display: inline;
}

.saved-list:hover {
    color: blue;
    cursor: pointer;
}