header {
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 25px;
    height: 400px;
}

body {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    font-weight: 300;
    line-height: 18px;

}

h1, h2, h3 {
    margin-top: 0px;
    font-family: Raleway, 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    margin-bottom: .5rem;
}

h2 {
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 0px;
}

span {
    font-size: 80%;
    color: #999999;
}

.container h2 {
    font-variant: small-caps;
    text-align: center;
}

h1 {
    font-weight: 100;
}

p {
    line-height: 1.43;
    margin-top: 0px;
    margin-bottom: 1rem;
}

.sub-heading {
    width: 30%;
    margin-left: 0px;
}

.get-yours-link {
    display: inline-block;
    padding: 5px;
    background-color: brown;
    color: white;
    border: 1px solid black;

}

.get-yours-link:hover {
    color: white;
    text-decoration: none;
}

.get-yours-link-mobile {
    display: none;
}

.fa-shopping-cart {
    margin-right: 3px;
}

svg {
    fill: #814236;
}

@media (max-width: 992px) {
    header {
        background-image: linear-gradient(to bottom, #391D18, #814236);
        color: white;
        padding: 25px;
        height: auto;
    }

    .get-yours-link {
        display: none;
    }

    .get-yours-link-mobile {
        display: block;
        color: white;
        font-size: 24px;
        float: right;
    }

    .sub-heading {
        width: auto;
    }
}

.features-section {
    padding: 15px 0px;
    background-color: #F8F8F8;
}

.features-section h2 {
    text-align: center;
}

.features-section h3 {
        margin-bottom: .5rem;
}

.feature {
    height: 300px;
    background-color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
    margin-bottom: 10px;
}

.uses-section .feature {
    padding: 0px;
    text-align: left;
}

.uses-section {
    background-color: #EBEBEB;
    padding-top: 10px;
}

.uses-section h3, p {
    padding-top: 10px;
    margin-left: 10px;
}

.testimonials-section {
    background-color: #F8F8F8;
    padding-top: 10px;
}

.testimonials-section .feature {
    text-align: left;
    border: none;
    background-color: #F8F8F8;
}

.test-image {
    border-radius: 100%;
    float: left;
    margin: 20px;    
    margin-top: 1rem;
}

.testimony{
    overflow: hidden;
}

.use-image{
    height: 150px;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    object-fit: cover;
}

.feature svg {
    height: 50px;
}

.contacts-mobile {
    display: none;
}

@media (max-width: 768px) { /*mobile*/
    .feature {
        text-align: left;
        height: auto;
    }

    .feature svg {
        float: left;
    }

    .feature-copy {
        padding-left: 60px;
    }

    .contacts-desktop{
        display: none;
    }

    .contacts-mobile{
        display: inline;
    }
}

.footer {
    background-color: #391D18;
    color: #EEEEEE;  
}

.contacts-desktop {
    float: right;
    margin-top: 1rem;
}

.footer p {
    padding-left: 0px;
    ;
}

.footer a {
    color: #AAAAAA;
    text-decoration: none;
}

.fa {
    margin-left: 4px;
    margin-right: 4px;
}
